.services-overview {
  background-color: #fff;
  padding: 50px 20px;
  min-height: 100vh;
}

.services-overview .left-section {
  text-align: left;
}

.services-overview .left-section .highlight-text {
  color: #00aEEF;
  font-weight: 600;
  margin-bottom: 8px;
}

.services-overview .left-section .main-title {
  font-weight: 700;
  margin-bottom: 20px;
}

.services-overview .left-section .description {
  color: #555;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.services-overview .service-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.services-overview .service-row .image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #00aEEF;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.services-overview .service-row .service-text h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.services-overview .service-row .service-text p {
  color: #666;
  margin: 0;
  line-height: 1.5;
  font-size: 12px;
}

.services-overview .right-section {
  text-align: center;
 
}

.services-overview .right-section .card-image {
  width: 400px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
   border: none;
}

.services-overview .right-section .services-badge {
  
  right: calc(50% - 130px);
  background-color: #00AEEF;
  color: #fff;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
