.services-overview {
  background-color: #fff;
  padding: 50px 20px;
  min-height: 100vh;
}

.services-overview .left-section {
  text-align: left;
}

.services-overview .left-section .highlight-text {
  color: #00aEEF;
  font-weight: 600;
  margin-bottom: 8px;
}

.services-overview .left-section {
  font-weight: 700;
  margin-bottom: 20px;
  color: #464646;
}

.main-title {
  color: #464646;
}

.services-overview .left-section .description {
  color: #828282;
  font-size: 0.8rem;
  margin: 20px 0px;
}

.services-overview .service-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.services-overview .service-row .image-wrapper {
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
  background-color: #00aEEF;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.services-overview .service-row .service-text h6 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.services-overview .service-row .service-text p {
  color: #666;
  margin: 0;
  line-height: 1.5;
  font-size: 0.7rem;
}

.services-overview .right-section {
  text-align: center;

}

.services-overview .right-section .card-image {

  padding-top: 20px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

.services_image {
  position: relative;
}

.services-overview .right-section .services-badge {
  position: absolute;
  background: #00aEEF;
  bottom: -23px;
  color: white;
  height: 34%;
  width: 52%;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

