/* ===== Carousel Top Buttons ===== */
.top-buttons {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 15px;
  z-index: 10;
}

.login-btn {
  background-color: #04AFEF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 0 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #048bf9 !important;
}

.register-btn {
  border: 2px solid white;
  color: white;
  background-color: transparent;
  border-radius: 8px;
  font-weight: 600;
  padding: 0 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.register-btn:hover {
  background-color: #1890ff !important;
  color: #fff !important;
  border-color: #1890ff !important;
}


/* ===== Signup Section ===== */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 20px;
  text-align: center;
  
}

.signup-title-container {
  margin-top: 100px;
  text-align: center;
}

.signup-title {
  font-size: 33px;
  font-weight: 500;
  color: #464646;
  margin-top: 4%;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.signup-divider {
  display: none;
}

.signup-input {
  width: 100%;
  max-width: 400px;
  border: 2px solid #04AFEF;
  margin: 10px auto 15px auto;
  color: #828282;
  padding: 8px 10px;
  border-radius: 8px;
}

.signup-textarea {
  width: 100%;
  max-width: 400px !important;
  height: 100px;
  border: 2px solid #04AFEF;
  margin: 10px auto 15px auto;
  color: #828282;
  padding: 8px 10px;
  border-radius: 8px;
  resize: none;
}

.signup-button {
  width: 100%;
  max-width: 400px;
  background-color: #04AFEF;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  color: #fff;
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0290d7;
}

.signup-login-text {
  margin-top: 15px;
  color: #828282;
}

.HR_CREATE_AN_ACCOUNT {
  width: 10%;
  margin: 0px 10px 4px 10px;
}

/* ===== Colorful G inside Google button ===== */
.google-login-btn .google-g {
  font-weight: bold;
  font-size: 20px;
  margin-right: 8px;
}

.google-g span {
  display: inline-block;
}

.google-g .g-blue {
  color: #4285F4;
}

.google-g .g-red {
  color: #EA4335;
}

.google-g .g-yellow {
  color: #FBBC05;
}

.google-g .g-green {
  color: #34A853;
}