*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
h1{
  font-family: 'Oswald', sans-serif;
}
p{
  font-family: 'Outfit', sans-serif;
  font-weight: 100;
}